.parent {width: 2000px;height: 400px;background: #ffffe0;position: relative; top:0px; left:0px}

input{width:105px;height:20px; z-index:110}
select{width:105px; height:20px; z-index:100}

/* #myCanvas3{position:fixed; right:280px; bottom:0; z-index:50} */
/* #myCanvas4{position:fixed; right:30px; bottom:0; z-index:50} */
#cube{position:fixed; right:50px; bottom:0; z-index:50;border: 3px groove #d3d3d3;}


#myCanvas{position:absolute; left:255px; top:50px; z-index:50}

#Tdrillup{position: absolute; left:45px; top:195px}
#Tdrilldown{position: absolute; left:150px; top:195px}

#Adrillup{position: absolute; left:555px; top:195px}
#Adrill1{position: absolute; left:660px; top:195px}
#Adrilldown{position: absolute; left:765px; top:195px}
#compareselect2{position: absolute; left:660px; top:220px}
#compare{position: absolute; left:765px; top:220px}

#transition{position: absolute; left:430px; top:50px}
#Transition{position: absolute; left:537px; top:50px}


#myCanvas2{position:absolute; left:1180px; top:50px; z-index:50}

#Tdrillup2{position: absolute; left:970px; top:195px}
#Tdrilldown2{position: absolute; left:1075px; top:195px}

#Adrill2{position: absolute; left:1480px; top:195px}
#Adrillup2{position: absolute; left:1585px; top:195px}
#Adrilldown2{position: absolute; left:1690px; top:195px}
#compareselect4{position: absolute; left:1480px; top:220px}
#compare2{position: absolute; left:1585px; top:220px}

#comparedata{position: absolute; left:1315px; top:35px}
#Adddata{position: absolute; left:1422px; top:35px}


#startmonth{position: absolute;left:50px; top:350px}
#to{position: absolute; left:175px; top:335px}
#endmonth{position: absolute; left:230px; top:350px}

#selectdata{position:absolute; left:350px; top:350px}
#Start{position: absolute; left:457px; top:350px}

#Spin{position: absolute; left:872.5px; top:350px}

#Reset{position: absolute; left:1585px; top:350px}
#id_form{position: absolute; left:1700px; top:350px}

#vis{position: absolute; left:10px; top:450px; overflow:auto; width:90vw; height:100vw}
.vega-actions a {margin-rightz: 5px;}

#help{position: absolute; left:1800px; top:50px}
#help2{position: absolute; left:1800px; top:70px}
#help3{position: absolute; left:1800px; top:90px}

#removedata{position: absolute; left:1315px; top:60px}
#Removedata{position: absolute; left:1422px; top:60px}

.help_icon {position:absolute; left:565px; top:350px;z-index:210;
            border-radius:50%;width:20px;height:20px;line-height:25px;
            vertical-align:middle;font-size:20px;text-align:center;
            background-color:#888888;color:white;cursor:pointer;}
.tooltip {position:absolute; left:572px; top:357px;z-index:210;
            background-color:rgba(0,0,0,0.5);;color:white;
            border-radius:0.3em;padding:0.3em;margin:0.3em 0 0 1em;
            display:none;}